{% extends 'base.html' %}
{% load static %}
{% block content %}
    

{% for info in engineer %}
    <h1>{{ info.name }}</h1>
    <div class="about-page">
        <div class="links">
            <a href='{{ info.linkedin }}' target='_blank'><button id="link"><span>LinkedIn</span></button></a>
            <a href='{{ info.github }}' target='_blank'><button id="link"><span>GitHub</span></button></a>
            <a href='{{ info.resume }}' target='_blank'><button id="link"><span>Resume</span></button></a>
        </div>
        <p>{{ info.bio }}</p>
        <div class="skills">
            <h3>Skills & Technologies</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>Python</li>
                <li>Neon</li>
                <li>Communication<li>
                <li>Time Management & Organization</li>
                <li>Grit</li>
            </ul>
        </div>
        <div class="motivation">
            <h3>Motivation</h3>
            <p>{{ info.inspo }}</p>
        </div>
        <div class="background">
            <h3>Background</h3>
            <p>Software Engineering Bootcamp Graduate, General Assembly</p>
            <p>Doctor of Physical Therapy, MGH Institute of Health Professions</p>
            <p>B.S. of Kinesiology, Michigan State University</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}