{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link
        rel="shortcut icon"
        type="image/png"
        href="{% static 'images/mirmlogo.png' %}"
      />
      <link rel="stylesheet" href="{% static 'css/base.css' %}" />
      <title>Miriam Aviles</title>
      {% block head %} {% endblock %}
    </head>
    <body>
      <header>
        <nav>
          <ul class="navbar">
            <li><a href="{% url 'home' %}">Miriam Aviles</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'project-index' %}">Projects</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </nav>
      </header>
      <main>{% block content %} {% endblock %}</main>
      <footer class="page-footer">
        <div class="footer-links">
          <p>mirm WIP | Miriam Aviles</p>
          <div>
            <a class="foottag" href="https://www.linkedin.com/in/miriam-aviles-491312236/" target="_blank">LinkedIn</a>
            <a class="foottag" href="https://github.com/maviles7" target="_blank">GitHub</a>
            <a class="foottag" href="https://drive.google.com/file/d/1jfAhn0y1hOhNEzBxZPkROtqp8JjmvUqH/view?usp=sharing" target="_blank">Resume</a>
          </div>
        </div>
      </footer>
    </body>
</html>
