{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    {% for info in engineer %}
    {% comment %} <img id="home-img" src="{% static 'images/miriamavilesSEbanner.png' %}" alt="Miriam Aviles" /> {% endcomment %}
    <div class="home-header">
        <h1 id="name">{{ info.name }}</h1>
        <div class="sub-header">
        <h3>Software Engineer</h3>
        <h3>|</h3>
        <h3>Full Stack Developer</h3> 
        </div>
    </div>
    <div class=links>
        <a href='{{ info.linkedin }}' target='_blank'><p>LinkedIn</p></a>
        <a href='{{ info.github }}' target='_blank'><p>GitHub</p></a>
        <a href='{{ info.resume }}' target='_blank'><p>Resume</p></a>
    </div>
    <h1><a href="{% url 'about' %}">About</a></h1>
    <h1><a href="{% url 'project-index' %}">Projects</a></h1>
    <h1><a href="{% url 'contact' %}">Contact Miriam</a></h1>
    {% endfor %}

{% endblock %}