@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/static/images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Staatliches';
}

nav {
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(16, 69, 16, 0.506);
  z-index: 1000;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 0; 
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-shadow: 3px 3px 5px rgb(13, 68, 13);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 60px; 
  height: 100vh;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin: 0 auto;
    padding: 20px;
}

form label {
    display: flex;
    align-items: center;
    justify-content: center;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%; /* Make input and textarea elements full width */
    padding: 10px; /* Add padding inside input and textarea elements */
    border: 1px solid #ccc; /* Add a border around input and textarea elements */
    border-radius: 3px; /* Round the corners of input and textarea elements */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

form button[type="submit"] {
    grid-column: 2;
    justify-self: start; 
    padding: 3px; /* Add padding inside the button */
    width: 100%; /* Make the button full width */
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sub-header {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px
}

#name {
  font-size: 700%;
  margin-bottom: 0;
}

.links {
  width: 100%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.home-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
  margin-left:60px;
}

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
  margin-left:60px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.skills ul {
  padding: 0;
  margin: 0
}

.card {
  margin: auto;
  width: min(300px, 100%);
  background-color: #fefefe;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #141417;
}

.card__hero {
  background-color: #fef4e2;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1.5rem;
  font-size: 0.875rem;
}

.card__hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__footer {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.75rem;
  row-gap: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}

.card__btn {
  width: 100%;
  font-weight: 400;
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  background-color: #141417;
  color: #fff;
  font-size: 1rem;
}

@media (min-width: 340px) {
  .card__footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

@media (min-width: 340px) {
  .card__btn {
    width: max-content;
  }
}


