{% extends 'base.html' %}
{% block content %}
    
  <h1>Projects</h1>
  <div class="project-grid">
    {% for project in projects %}
      <ul class="card">
          <section class="card__hero">
              <img src="{{ project.image }}" alt="project image">
          </section>
        
          <footer class="card__footer">
            <div class="card__job-summary">
              <div class="card__job">
                <p class="card__job-title">{{ project.title }}</p>
              </div>
            </div>
            <a href="{% url 'project-detail' project.id %}">
              <button class="card__btn">view</button>
            </a>
          </footer>
      </ul>
    {% endfor%}
  </div>
{% endblock %}