{% extends 'base.html' %}
{% block content %}
    
    <h1>Projects</h1>
    
    {% for project in projects %}
    <a href="{% url 'project-detail' project.id %}"><ul class="card"></a>
        <section class="card__hero">
            <img src="{{ project.image }}" alt="project image">
        </section>
      
        <footer class="card__footer">
          <div class="card__job-summary">
            <div class="card__job">
              <p class="card__job-title">{{ project.title }}</p>
            </div>
          </div>
          <button class="card__btn">view</button>
        </footer>
 
    </ul>
    {% endfor%}

{% endblock %}